<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.gene.mapper.UserconnMapper" >
  <resultMap id="BaseResultMap" type="cn.com.gene.pojo.Userconn" >
    <id column="profileid" property="profileid" jdbcType="BIGINT" />
    <result column="fatherid" property="fatherid" jdbcType="BIGINT" />
    <result column="spouseid" property="spouseid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    profileid, fatherid, spouseid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.gene.pojo.UserconnExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userconn
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from userconn
    where profileid = #{profileid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from userconn
    where profileid = #{profileid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.gene.pojo.UserconnExample" >
    delete from userconn
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.gene.pojo.Userconn" >
    insert into userconn (profileid, fatherid, spouseid
      )
    values (#{profileid,jdbcType=BIGINT}, #{fatherid,jdbcType=BIGINT}, #{spouseid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.gene.pojo.Userconn" >
    insert into userconn
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="profileid != null" >
        profileid,
      </if>
      <if test="fatherid != null" >
        fatherid,
      </if>
      <if test="spouseid != null" >
        spouseid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="profileid != null" >
        #{profileid,jdbcType=BIGINT},
      </if>
      <if test="fatherid != null" >
        #{fatherid,jdbcType=BIGINT},
      </if>
      <if test="spouseid != null" >
        #{spouseid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.gene.pojo.UserconnExample" resultType="java.lang.Integer" >
    select count(*) from userconn
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update userconn
    <set >
      <if test="record.profileid != null" >
        profileid = #{record.profileid,jdbcType=BIGINT},
      </if>
      <if test="record.fatherid != null" >
        fatherid = #{record.fatherid,jdbcType=BIGINT},
      </if>
      <if test="record.spouseid != null" >
        spouseid = #{record.spouseid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update userconn
    set profileid = #{record.profileid,jdbcType=BIGINT},
      fatherid = #{record.fatherid,jdbcType=BIGINT},
      spouseid = #{record.spouseid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.gene.pojo.Userconn" >
    update userconn
    <set >
      <if test="fatherid != null" >
        fatherid = #{fatherid,jdbcType=BIGINT},
      </if>
      <if test="spouseid != null" >
        spouseid = #{spouseid,jdbcType=BIGINT},
      </if>
    </set>
    where profileid = #{profileid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.gene.pojo.Userconn" >
    update userconn
    set fatherid = #{fatherid,jdbcType=BIGINT},
      spouseid = #{spouseid,jdbcType=BIGINT}
    where profileid = #{profileid,jdbcType=BIGINT}
  </update>
</mapper>